
.house th,td{
    width: 17%;
    text-align: center;
    background-color: #ccc5c5;
    color: rgb(87, 69, 69);
}
.house tr{
    border-spacing: 0px;
}
table{
    border-collapse: collapse;
    border-spacing: 1px;
}
table, td, th
  {
  border:1px solid rgb(233, 229, 229);
  }
.house th{
    height: 160px;
    color: #054d50;
    font-weight: normal;
}
.house th p{
    padding: 0;
    margin: 0;
}
.current{
    background: rgb(241, 239, 239);
    
}
.house th p:nth-of-type(3){
    margin-top: 20px;
    color: rgb(165, 111, 29);
}
tbody tr td{
    height: 130px;
    color: rgb(51, 50, 50);
}
tbody tr td:nth-of-type(1){
    color: rgb(51, 54, 54);
    font-weight: bold;
}
.tip{
    margin-left: 25px;
    color: rgb(118, 182, 55);
}